fastapi
uvicorn
pydantic
asyncpg
pydantic-settings
sqlmodel
alembic
passlib
bcrypt==4.0.1
pyjwt
# aioredis  --> this was the older version --> now only pip install redis
redis
fastapi-mail
itsdangerous   ## for user verification